
.title {
    font-size: 24px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 400px;
    gap: 20px;
}
.homeContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.homeContainer p {
    font-size: 20px;
}
.allPosts {
    text-align: center;
    font-size: 20px;
}
.allPosts a {
    text-decoration: underline;
}