* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}
body {
    background-color: #2B2B2B;
}
body::-webkit-scrollbar {
    display: none;
}