.postPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.postContainer {
    width: 910px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}