.post {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 910px;
    border-radius: 8px;
    background: #242424;
    border: 1px solid #151515;
    border-radius: 10px;
    gap: 10px;
}
.postInformation {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0 15px;
    gap: 10px;
}
.title {
    font-size: 24px;
    font-weight: 600;
}
.postImage {
    border-radius: 8px;
    max-height: 400px;
    object-fit: contain;
    object-position: left;
}
.description {
    font-size: 18px;
}
.tags {
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.tag {
    color: #AEAEAE;
    font-size: 14px;
}
.line {
    width: 100%;
    height: 1px;
    background-color: white;
}
.postFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 15px 15px;
}
.author {
    display: flex;
    align-items: center;
    gap: 10px;
}
.authorAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 1px solid white;
}
.authorName {
    font-size: 18px;
}
.likes {
    font-size: 18px;
}