* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
body {
    background-color: #2B2B2B;
    min-height: calc(100vh + 100px);
    padding-bottom: 100px;
}
body::-webkit-scrollbar {
    display: none;
}