header {
    width: 100%;
    height: 65px;
    display: flex;
    padding: 10px 200px;
    justify-content: space-between;
    align-items: center;
}
.iconDiv {
    display: flex;
    align-items: center;
    gap: 0;
}
.iconDiv img {
    width: 62px;
}
.iconDiv h1 {
    font-size: 24px;
    font-weight: bold;
}
.searchDiv {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #191919;
    border-radius: 5px;
    padding: 5px;
    width: 440px;
}
.searchDiv img {
    width: 24px;
}
.searchDiv input {
    background: none;
    border: none;
    font-size: 14px;
    width: 95%;
}
.searchDiv button {
    background: none;
    border: none;
    font-size: 14px;
}
.otherDiv {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.navLinks {
    display: flex;
    align-items: center;
    gap: 20px;
}
.link {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
button.link {
    background: none;
    border: none;
}
.userActions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.userActions button {
    background: none;
    border: none;
    cursor: pointer;
}
.userAvatar {
    width: 49px;
}