footer {
    width: 100vw;
    height: 9.3vh;
    background-color: #151515;
    padding: 5px 300px;
    display: flex;
    gap: 10px;
}
footer h5 {
    font-size: 18px;
    font-weight: 300;
}
footer div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer div a {
    text-decoration: none;
    font-size: 18px;
}