* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}
body {
    background-color: #2B2B2B;
}
body::-webkit-scrollbar {
    display: none;
}
main h1 {
    font-size: 24px;
}
.homeContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.homeContainer p {
    font-size: 20px;
}
main p {
    font-size: 20px;
}